<div  ng-controller="viewByController">

<!-- <form >
<table border="0">

			<tr>
               		<td>Account Id</td>
               		<td><input type="text" ng-model="transForm.accId" required/></td>
            </tr>
		<tr>
               		<td colspan="2">
                  <a href="#!viewByAccIdDisplay" ng-click="viewBy(transForm.accId)" ><input type="submit" value="Submit" class="blue-button" /></a>
               </td>
         </tr>

</table>
</form> -->
<form name="myForm" class="card container-fluid shadow mt-5"
		style="width: 50%; background-color: aliceblue">
		<h2 class="text-center card-header">View By Account Id</h2>
		<div class="form-row mt-4">
			<div class="form-group col-md-auto mt-3 ml-auto">
				<label for="inputNumber">Account Id</label>
			</div>
			<div class="form-group col-md-auto mr-auto">
				<input type="number" class="form-control" id="inputNumber"
					ng-model="transForm.accId" required><br>
				<span style="color: red"
					ng-show="myForm.myName.$touched && myForm.myName.$invalid">The
					account is required.</span>
			</div>
		</div>
		<div class="form-row">
		<div class="form-group col-md-7 ml-auto">
		<a href="#!viewByAccIdDisplay"  class="center">
		<button
				type="submit" ng-click="viewBy(transForm.accId)"
				ng-disabled="(myForm.myName.$touched && myForm.myName.$invalid)||myForm.myName.$untouched"
				class="btn btn-primary mb-4 ml-5 mr-5 align-middle">Search</button></a>
		</div>
		</div>
	</form>

</div>