<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>RetailBankingManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>jsp/login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Controller</display-name>
    <servlet-name>Controller</servlet-name>
    <servlet-class>com.controller.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>executiveController</display-name>
    <servlet-name>executiveController</servlet-name>
    <servlet-class>com.controller.executiveController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>executiveController</servlet-name>
    <url-pattern>/executiveController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cashierController</display-name>
    <servlet-name>cashierController</servlet-name>
    <servlet-class>com.controller.cashierController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cashierController</servlet-name>
    <url-pattern>/cashierController</url-pattern>
  </servlet-mapping>
  <error-page>
  <error-code>404</error-code>
  <location>/jsp/Error.jsp</location>
  </error-page>
   <error-page>
  <error-code>500</error-code>
  <location>/jsp/Error.jsp</location>
  </error-page>
  <error-page>
  <exception-type>java.lang.Throwable</exception-type>
  <location>/jsp/Error.jsp</location>
  </error-page>
    <error-page>
   <exception-type>java.lang.ClassNotFoundException</exception-type>
  <location>/jsp/Error.jsp</location>
  </error-page>
  <error-page>
   <exception-type>java.lang.NullPointerException</exception-type>
  <location>/jsp/Error.jsp</location>
  </error-page>
</web-app>