<div  ng-controller="viewByController" class="center">

<form name="myForm" class="card container-fluid shadow mt-5"
		style="width: 50%; background-color: aliceblue">
		<h2 class="text-center card-header">View By City</h2>
		<div class="form-row mt-4">
			<div class="form-group col-md-auto mt-3 ml-auto">
				<label for="inputNumber">Contact No</label>
			</div>
			<div class="form-group col-md-auto mr-auto">
				<input type="text" class="form-control" id="inputName"
					ng-model="customerForm.city" required><br>
			</div>
		</div>
		<div class="form-row">
		<div class="form-group col-md-7 ml-auto">
		<a href="#!viewByCityDisplay"  class="center">
		<button
				type="submit" ng-click="viewBy(customerForm.city)"
				
				class="btn btn-primary mb-4 ml-5 mr-5 align-middle">Search</button></a>
		</div>
		</div>
	</form>

</div>